<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <div class="card">
  <div class="item item-text-wrap">
    Nutrition log
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    Health News
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    Pregnancy Tracker
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    Personal Recommendations
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    Health Summary
  </div>
</div>
    </ion-list>
  </ion-content>
</ion-view>

