<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card animated bounceInUp">
      <div class="item item-divider item-remove-animate bounce-in">Home</div>
      <div class="item item-body">
        <div>
          Overview
        </div>
      </div>
    </div>
    <div class="list card animated bounceInUp">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          Calories consumed
        </div>
      </div>
    </div>
    <div class="list card animated bounceInUp">
      <div class="item item-divider">Profile</div>
      <div class="item item-body">
        <div>
          Week 33
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
