<ion-view view-title="Menu">
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap" ng-click="linkTo('/tab/account')">
          Nutrition log
        </div>
      </div>
        <div class="card">
        <div class="item item-text-wrap">
          Health News
        </div>
      </div>
        <div class="card">
        <div class="item item-text-wrap">
          Pregnancy Tracker
        </div>
      </div>
        <div class="card">
        <div class="item item-text-wrap">
          Personal Recommendations
        </div>
      </div>
        <div class="card">
        <div class="item item-text-wrap" ng-click="linkTo('/tab/summary')">
          Health Summary
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

